VITE_API_BASE_URL=https://westos.dev
VITE_AI_BASE_URL=https://westos.dev
BACKEND_FLASK_ENV=production
BACKEND_GUNICORN_BIND=0.0.0.0:5000
BACKEND_APP_NAME=westOS API
AI_FLASK_ENV=production
AI_GUNICORN_BIND=0.0.0.0:5001
AI_APP_NAME=westOS AI Gateway
